/* Colors 
    Dark Sienne dark redish brown
#2E0014 
    Dark Sienna(Again?) Dark Brown
#442220 
    Wild Blue Yonder Grey Blue
#ADB9E3
    Deep Space Sparkle Grey Green
#466060
    Light Orange
#FCD0A1 
    Eerie Black 
#111818
*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.project-item{
    overflow:hidden;
    border-bottom: dotted 3px #2E0014;
}
.project-item image{
    float:left;
    margin-right: 20px;
}
.project-item h3{
    margin-top: 0;
}
body{
    background-color: #ADB9E3;
    color:#111818;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5;

}
a{
    color: #FCD0A1;
    text-decoration: none;
    background-color: #2E0014;
    padding: 6px;
    border-radius: 5px;
}
a:hover{
    text-decoration: none;
    color:#FCD0A1;
    background-color: rgba(46, 0, 20, 80%)

}

.content-wrap{
    max-width: 750px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.tagline {
    color:#466060;
}
h1{
    font-size: 75px;
}
h2{
    font-size: 50px;
    margin: 0;
    text-shadow: 0 0 3px #466060, 0 0 5px #FCD0A1;
}
h5{
    margin: 0;
    font-size: 150%;
}
footer{
    text-align: center;
    background-color: #466060;
}